<!DOCTYPE html>
<html>

<head>
    <title>Log in</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
        $.get('auth', function(data) {
            if (data.username != 'guest')
                $('#header').html("<li><a class='nav-item nav-link' href='/'>Home</a></li><li><a class='nav-item nav-link' href='/add'>Add Item</a></li><li><a class='nav-item nav-link' href='/check'>Check Item</a></li><li><a class='nav-item nav-link' href='/logout'>Sign out <i class='fa fa-sign-out'></i></a></li>");
            else
                $('#header').html("<li><a class='nav-item nav-link' href='/'>Home</a></li><li><a class='nav-item nav-link' href='/register'>Register</a></li> <li> <a class='nav-item nav-link' href='/login'>Sign in <i class='fa fa-sign-in'></i></a></li>");
        });
    });
    </script>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <ul class="navbar-nav" id="header"></ul>
            </div>
        </nav>
    </div>
    <div style="padding-left: 30px; width:25%"><br>
        <h1>Add item</h1> <br>
    </div>
    <form class="" method="POST">
        <div class="input-group mb-3 form-group " style="padding-left: 30px; width:35%">
            <label style=" width:50%">Product name</label><input type="text" name="name" class="form-control" style=" width:50%">
        </div>
        <div class="input-group mb-3 form-group " style="padding-left: 30px; width:35%">
            <label style=" width:50%">Product price</label><input style=" width:50%" class="form-control" type="text" name="price">
        </div>
        <div class="input-group mb-3 form-group " style="padding-left: 30px; width:35%">
            <label style=" width:50%">Shop</label><input style=" width:50%" type="text" class="form-control" name="shop">
        </div>
        <div class="input-group mb-3 form-group " style="padding-left: 30px; width:35%">
            <label style=" width:50%">Comment</label><input style=" width:50%" type="text" class="form-control" name="comment">
        </div>
        <div class="input-group mb-3 form-group " style="padding-left: 30px; width:35%">
            <label style=" width:50%">Category</label><input style=" width:50%" class="form-control" type="text" name="category">
        </div>
        <div style="padding-left: 30px;">
            <button type="submit" class="btn btn-info">Add</button>
        </div>
    </form>
</body>

</html>