<!DOCTYPE html>
<html>

<head>
    <title>Мир jQuery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</head>

<body>
    <h2>Добро пожаловать в мир jQuery</h2>
    <button id="btn1">jQuery</button>
    <button id="btn2" class="cool" onclick="alert('Мир JavaScript'); ">JavaScript</button>
    <div id="menu">
        <p><a href="1.html" class="open">Ссылка 1</a></p>
        <p><a href="2.html" class="open">Ссылка 2</a></p>
    </div>
    <p><a href="3.html" class="open">Ссылка 3</a></p>

    <table class="header">
<tr  class="header"><td>Слово</td><td>Перевод</td></tr>
<tr  class="header"><td>Cabbage</td><td>Капуста</td></tr>
<tr><td>Carrot</td><td>Морковь</td></tr>
<tr><td>Potato</td><td>Картофель</td></tr>
<tr><td>Tomato</td><td>Помидор</td></tr>
</table>
<ul>
    <li>Пункт 1</li>
    <li>Пункт 2
        <ul>
            <li>Подпункт 2.1</li>
            <li>Подпункт 2.2</li>
        </ul>
    </li>
    <li>Пункт 3</li>
</ul>


<ul class="menu">
    <li>Пункт 1</li>
    <li>Пункт 2
        <ul class="submenu">
            <li>Подпункт 2.1</li>
            <li>Подпункт 2.2</li>
        </ul>
    </li>
    <li>Пункт 3
        <ul class="submenu">
            <li>Подпункт 3.1</li>
            <li>Подпункт 3.2</li>
        </ul>
    </li>
</ul>
    <script type="text/javascript">
    $(document).ready(function() {
        $("#btn1").click(function() {
            $(this).css('background-color', 'red');
            alert('Мир jQuery');
        });
        $("*[class='cool']").css('background-color', 'red'); //choose all the elements
        $(".open", "div#menu").css('background-color', 'silver');
        $("tr:even").css('background-color', 'gold');
        $("td:contains('пуст')").css('background-color', 'gold');
       // $('tr:odd:has('td')').css('background-color', 'cyan');
           var array = $("tr:even");
    //var firstEl = array.first();
    //alert("Первый элемент: " + firstEl.html());
    //var lastEl = array.last();
   // alert("Последний элемент: " + lastEl.html());
       $("tr:even").each(function(index, elem){
      //  alert(index + ". " + elem.innerHTML);
    });
        var array = $("tr");
    var index = array.index($("tr.tabhead"));
    //alert(index);
var array = $("tr:even").add("tr:odd:first");
console.log(array);


    var array = $(".header").filter("tr");
    array.css('background-color', 'black');
     
    // Фильтрация по элементу html
    var elem = document.getElementsByTagName("tr")[0];
    var array1 = $(".header").filter(elem);
    array1.css('background-color', 'green');
      var array = $("tr").slice(3);
    array.css('background-color', 'silver');
   

$('li').has('ul').css('background-color', 'silver');
var lists = $('ul');
if(lists.is('.submenu')){
    lists.css('background-color', 'gold');
}


    var array0 = $('ul').find('.submenu');
    array0.css('background-color', 'silver');
     
    // поиск по элементу
    // получаем первый элемент выборки
    var elem = $('ul.submenu')[0];
    var array1= $('ul').find(elem);
    array1.css('background-color', 'gray');
     
    // Поиск объекта jQuery
    var jQueryObject = $('ul.submenu');
    var array2= $('ul').find(jQueryObject);
    array2.css('color', 'blue');
    // дочерние узлы без селектора
var lists = $('li').children('');
lists.each(function(index, elem){
  // alert(elem.innerHTML);
});
 
//дочерние узлы по селектору
var lists2 = $('li').children('.submenu');
lists2.each(function(index, elem){
    //alert(elem.innerHTML);
});
    var list = $('li').closest('ul.submenu');
    list.each(function(index, elem){
        alert(elem.innerHTML);
    });

     });
    </script>
</body>

</html>