<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Add React in One Minute</title>
    <link rel="stylesheet" type="text/css" href="/public/css/react_style.css">
     <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js" crossorigin></script>
    <link rel="stylesheet"  href="https://fonts.googleapis.com/css&family=Roboto">
    

  </head>
  <body>

<div id="header"></div>
<div id="container"></div>
 <script type ="text/babel" src="/src/react.js"></script>

     
   </script>
  </body>
</html>